* {
  margin: 0;
}
html, body {
  height: 100%;
}

#header {
	background-color: #665E52;
	color: #DAD5B7;	
	padding-left: 5%;
	padding-right: 5%;
}

#footer {
	background-color: #243757;
	color: #DAD5B7;
	padding-top: 10px;
	padding-left: 5%;
	padding-right: 5%;

}
.award {
	width:100px;
	height:auto;
	margin-top:5px;
	margin-bottom: 5px;
	margin-left:15px;
}

.content {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 10px;
}

.ftr-l{
	text-align: left;
}

.ftr-r{
	text-align: right;
}

.content {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px; 
}
.content:after {
  content: "";
  display: block;
}
#footer, .content:after {
  height: 50px; 
}